.coinCardStyle {
  text-align: center;

  padding: 20px;
  border: 1px solid #000;
  border-radius: 12px;

  cursor: pointer;
}

.coinCardStyle:hover {
  transform: scale(1.1);
}

.coinCardStyle p {
  font-size: 18px;
  padding: 4px;
  text-decoration: none;
  color: #000;
}

.coinCardStyle img {
  margin: 16px;
}
